#search-bar{
    border-radius: 30px;
}

#category-card-container {
  gap: 15px;
  margin-top: 20px;
}

#category-card-container .card {
  width: calc(100% - 15px);
}

@media (min-width: 576px) {
  #category-card-container .card {
    width: calc(50% - 7.5px);
  }
}

@media (min-width: 768px) {
  #category-card-container .card {
    width: calc(calc(100% / 3) - 10px);
  }
}

@media (min-width: 992px) {
  #category-card-container .card {
    width: calc(calc(100% / 3) - 10px); /* Three per row */
  }
}

.category-list-icon {
  width: 30px;
  height: 30px;
  background-image: var(--gradient-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#transaction-table.force-hide {
  display: none !important;
}

.hide {
  display: none;
}
