{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy upload_form upload_form.helper %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'upload/css/main.css' %}">
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
{% endblock extra_css %}


{% block content %}
    {% comment %}------------ Upload File ------------{% endcomment %}
    {% if user.is_authenticated %}
    {% firstof user.first_name user as name %}
    <div class="container">
        <div class="row m-3">
            <h2 id="upload-file-header" class="primary-text">Upload Transactions</h2>
            <h5 class="fw-bold text-muted">{{ name|capfirst }}, upload your transactions from our partners</h5>
        </div>
        
        <div class="container d-flex justify-content-center mt-5">
            <div class="row d-flex align-items-center">
                <div class="col d-flex justify-content-center mx-3">
                    <img id="bank-logo" src="{% static "upload/images/scotiabank-logo.png" %}" alt="Scotia Bank Logo">
                </div>
                <div class="col d-flex justify-content-center mx-3">
                    <img id="bank-logo" src="{% static "upload/images/rbc-logo.png" %}" alt="RBC Bank Logo">
                </div>
                <div class="col d-flex justify-content-center mx-3">
                    <img id="bank-logo" src="{% static "upload/images/cibc-logo.png" %}" alt="CIBC Bank Logo">
                </div>
            </div>
        </div>

        <div id="upload-page-div" class="container d-flex justify-content-center align-items-center text-center wrapper mb-5">
            <div id="upload-container" class="container shadow">
                <div>
                    <div>
                        <form action=" " method="POST" class="dropzone dz" id="upload-div">
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="">
                        {% csrf_token %}
                        {% crispy upload_form %}
                            <div id="fileTypeError" class="text-danger d-none"></div>
                    </div>
                </div>
            </div>
        </div>

      {% comment %}------------ Login Container------------{% endcomment %}
        {% else %}
        {% include 'users/components/login_container.html' %}
        {% endif %}
    </div>
    {% endblock %}

{% block extra_js %}
    <script src="{% static 'upload/js/upload.js' %}"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>


{% endblock %}
