#login-header {
    padding-top: 10%;
}

#sub-header {
    font-size: 1.25rem;
    color: var(--secondary-color);
}

#login-row {
    height: 100vh;
}

#logo-container {
    color: white;
}

#logo {
    max-width: 200px;
}

#login-btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white);
    width: 100%;
}

#login-btn:hover {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
}

#login-google-btn {
    width: 100%;
    border-color: var(--accent-color-hover);
}