{% extends "base.html" %}

{% load static %}

{% block title %}Evergreen Financial - Your Path to Financial Growth{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

<section class="hero-section text-center position-relative py-5">
    <div class="container hero-content">

        <p class="text-muted mb-4 pt-4 fs-5">Meet <span class="fw-bold text-dark">Evergreen Financial</span></p>

        <h1 class="hero-title mb-4"> 
            The personal finance app <br> for everyone
        </h1>

        <p class="hero-subtitle mb-5 mx-auto">
            Evergreen Financial is your all-in-one personal finance platform. Track, optimize,
            grow, and manage your money through every stage of life.
        </p>

        <a href="#" class="btn btn-custom-dark btn-lg mb-4">
            Start your free trial
        </a>

        <p class="small text-muted mb-3">You can also <a href="https://github.com/PyLou317/evergreen-financial" target="blank" class="text-decoration-none text-dark fw-bold">explore our source code here</a>.</p>
        <div class="d-flex justify-content-center gap-3 pb-5">
            <a href="#" class="btn social-proof-button">
                <i class="bi bi-github"></i> 0.0 Stars
            </a>
            <a href="#" class="btn social-proof-button">
                <i class="bi bi-person-fill"></i> 1 User
            </a>
        </div>
    </div>
</section>

<section class="dashboard-preview-section py-5">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <img src="{% static 'images/hero-1.png' %}" alt="Evergreen Financial Dashboard Preview"
                     class="img-fluid rounded-4 dashboard-img"> 
            </div>
        </div>
    </div>
</section>

{% endblock %}