{% comment %} Has inline style for menu width, wouldn't work when linked with ID {% endcomment %}
<div class="offcanvas offcanvas-start offcanvas-dark bg-dark side-menu-mobile" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title d-none d-sm-block text-light fs-5 pe-2" id="offcanvas">Evergreen Financial</h6>
        <button  type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div id="side_bar_nav" class="offcanvas-body d-flex flex-column ps-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start flex-grow-1" id="menu">
            <li class="nav-item">
                <a href="{% url 'dashboard:dashboard_home' %}" class="nav-link text-light">
                    <i class="bi bi-piggy-bank"></i><span class="ms-1 d-none d-sm-inline"> Dashboard</span> </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'transactions:transactions' %}" class="nav-link text-light">
                    <i class="bi bi-list"></i><span class="ms-1 d-none d-sm-inline"> Transactions</span></a>
            </li>
            <li class="nav-item">
                <a href={% url 'category:categories' %} class="nav-link text-light">
                    <i class="bi bi-tag"></i><span class="ms-1 d-none d-sm-inline"> Categories</span></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-light">
                    <i class="bi bi-tag"></i><span class="ms-1 d-none d-sm-inline"> Category Details</span></a>
            </li>
            <li class="nav-item">
                <a href="{% url 'upload:file_upload' %}" class="nav-link text-light">
                    <i class="fs-5 bi bi-cloud-arrow-up"></i><span class="ms-1 d-none d-sm-inline"> Upload</span></a>
            </li>

            {% comment %} ------------------- User Account ------------------ {% endcomment %}
            {% comment %} <div id="account_nav" class="dropdown mt-auto">
                <li class="nav-item">
                    <a href="{% url 'portfolio:home' %}" class="nav-link text-light">
                        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline"> Portfolio Home</span>
                    </a>
                </li>
                <hr class="menu-divider border border-1">
                <div>
                    <a href="#" class="nav-link dropdown-toggle text-light" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user_profile and user_profile.avatar %}
                        <img src="{{ user_profile.avatar.url }}" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 5px;"><span class="ms-1 d-none d-sm-inline"> {{ user.username }}</span>
                        {% else %}
                        <i class="fs-5 bi bi-person-circle"></i><span class="ms-1 d-none d-sm-inline"> Account</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'users:profile_home' %}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>  {% endcomment %}
            </ul>
        </div>
    </div>
</div>
    
        