<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Logout Confirmation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% firstof user.first_name user as name %}
        <p class="card-text mb-4"><span class="fw-bold">{{ name }}</span> are you sure you want to logout?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn fw-bold" data-bs-dismiss="modal">Cancel</button>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-block">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>