.dashboard-greeting-msg {
  color: var(--accent-color);
  font-weight: 600;
}

.db_card {
  background-color: #fff;
}

.text-primary {
  color: #343a40 !important;
}


#month-selector {
  width: fit-content;
}

.income_chart {
  max-height: 300px;
}


.positive-text {
  color: #28a745;
}

.negative-text {
  color: #dc3545;
}


/* ----- Categories ----- */
.scrollable-list-container {
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.bi-caret-up,
.bi-caret-down {
  color: white;
}

.category-icon {
  width: 30px;
  height: 30px;
  font-size: 1.4rem;
}

.expense-list-item {
  transition: background-color 0.2s ease; /* Smooth hover effect */
  border-color: #e9ecef; /* Lighter border for list items */
}

.expense-list-item:hover {
  background-color: #f8f9fa; /* Very light gray background on hover */
}

.expense-list-item:last-child {
  border-bottom: none; /* No border for the last item in the list */
}

.expense-icon-wrapper {
  /* Ensures consistent sizing and alignment for icons */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem; /* Fixed width for icon container */
  height: 2rem; /* Fixed height for icon container */
  border-radius: 50%; /* Make it round */
  background-color: rgba(220, 53, 69, 0.1); /* Light red background for icon circle */
}


#expense-by-month-chart {
    padding: 1rem;
}
